In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:\\Users\\Darshan Gowda C\\Desktop\\jupyter\\0. Datasets\\tennisdata.csv")
data.head()

    Outlook Temperature Humidity  Windy PlayTennis
0     Sunny         Hot     High  False         No
1     Sunny         Hot     High   True         No
2  Overcast         Hot     High  False        Yes
3     Rainy        Mild     High  False        Yes
4     Rainy        Cool   Normal  False        Yes

In [8]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
print('Feature data \n------------------------------------\n',X,"\n-------------------------------------\ntarget data\n--------------------------------\n",y)

Feature data
------------------------------------
      Outlook Temperature Humidity  Windy
0      Sunny         Hot     High  False
1      Sunny         Hot     High   True
2   Overcast         Hot     High  False
3      Rainy        Mild     High  False
4      Rainy        Cool   Normal  False
5      Rainy        Cool   Normal   True
6   Overcast        Cool   Normal   True
7      Sunny        Mild     High  False
8      Sunny        Cool   Normal  False
9      Rainy        Mild   Normal  False
10     Sunny        Mild   Normal   True
11  Overcast        Mild     High   True
12  Overcast         Hot   Normal  False
13     Rainy        Mild     High   True
-------------------------------------
target data
--------------------------------
 0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: PlayTennis, dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [13]:
X.Outlook = LE.fit_transform(X.Outlook)
X.Temperature = LE.fit_transform(X.Temperature)
X.Humidity = LE.fit_transform(X.Humidity)
X.Windy = LE.fit_transform(X.Windy)
print("Input values are\n",X,"\n")

y = LE.fit_transform(y)
print("Target values are\n",y)

Input values are
     Outlook  Temperature  Humidity  Windy
0         2            1         0      0
1         2            1         0      1
2         0            1         0      0
3         1            2         0      0
4         1            0         1      0
5         1            0         1      1
6         0            0         1      1
7         2            2         0      0
8         2            0         1      0
9         1            2         1      0
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1

Target values are
 [0 0 1 1 1 0 1 0 1 1 1 1 1 0]

In [43]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.40)

from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(xtrain,ytrain)
ypred = model.predict(xtest)


from sklearn.metrics import confusion_matrix, accuracy_score
print("Confusion matrix: \n", confusion_matrix(ytest, ypred))
print("Accuracy is:", accuracy_score(ytest, ypred))

Confusion matrix:
 [[1 0]
 [0 5]]
Accuracy is: 1.0